<div id="fullpage">

  <div class="section cs-first-section">

    <div class="cs-scroll-fix">

      <%= render 'layouts/title_card' %>

    </div>

    <div class="slide cs-first-slide">

      <%= render 'layouts/title_card' %>

    </div>

    <% Phrase.all.each_with_index do |cur_phrase, cur_index| %>

      <div class="slide <%= (cur_index+1).odd? ? "cs-odd-slide" : "cs-even-slide" %>">

        <div class="cs-box js-box cs-first-box">

          <div class="cs-word cs-first-word">
            <%= cur_phrase.first_word %>
          </div>

        </div>

        <div class="cs-box js-box cs-last-box">

          <div class="cs-word cs-last-word">
            <%= cur_phrase.last_word %>
          </div>

        </div>

      </div>

    <% end %>

  </div>

  <% Phrase.all.each_with_index do |cur_phrase, cur_index| %>

    <div class="section <%= (cur_index+1).odd? ? "cs-odd-section" : "cs-even-section" %>">

      <div class="slide <%= (cur_index+1).odd? ? "cs-odd-slide" : "cs-even-slide" %>">

        <div class="cs-box js-box cs-first-box">

          <div class="cs-word cs-first-word">
            <%= cur_phrase.first_word %>
          </div>

        </div>

        <div class="cs-box js-box cs-last-box">

          <div class="cs-word cs-last-word">
            <%= cur_phrase.last_word %>
          </div>

        </div>

      </div>

    </div>

  <% end %>

</div>
